body {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 20px;
    background: radial-gradient(circle, #c4d5e6 0%, #335f8a 60%, #2a7fd4);
}

.img{
    border-radius: 50%; 
    border: 5px solid #041d36;
}

.Head{
    font-size: 35px;
    font-weight: 700;
    
}
.contrainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 0 0;
}

h1 {
    font-size: 30px;
    font-weight: 700;
    background-color: #041d36;
    color: white;
    padding-left: 20px;
    /* margin: 3%; */
    border-radius: 20px;
    
}

h2 {
    font-size: 25px;
    padding-left: 20px;
    color: #041d36;
}

a{
    text-decoration: none;
    color: #041d36;
    transition: 0.3s ease;
    position: relative;
}

a:hover{
    font-size: 28px;
    /* color: #5e04c5; */
}

.address:hover{
    font-size: 22px;
}

ul{
    padding-left: 50px;
}

.box, .exp_box, .api_get, .api_post{
    margin: 1%;
    padding: 1%;
    background-color: white;
    border :5px solid #041d36;
    position: relative;
    color: #041d36;
    border-radius: 10px;

}


.upper_bar, .lower_bar{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 59px;
    font-weight: 700;
    color: white;
    border-radius: 15px;
    background-color: #041d36;
    position: relative;
    width: 100%;
}

.lower-text{
    font-size: 20px;
    color: white;
}

#temp, #hum, #light{
    width: 1%;
    height: 30px;
    background-color: #041d36;
    color: white;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 20px;
}

/* -----postAPI----- */

form{
    padding-right: 20px;
    text-align: left;
}

.input_placeholder{
    height: 40px;
    width: 70%;
    padding: 10px;
    border: none;
    text-align: left;
    border-bottom: 3px solid #89919c;
    font-size: 20px;
}

.input_placeholder:focus{
    outline: none;
    transition: 0.3s ease;
    border-bottom: 5px solid #031220;
}

.input_submit{
    /* background-color: #041d36; */
    height: 40px;
    width: 200px;
    /* color: white; */
    font-size: 20px;
    border-radius: 15px;
    transition: 0.5s ease;
}

.input_submit:enabled{
    background-color: #041d36;
    color: white;
    border-color: #031220;
    cursor: pointer;
}

.input_submit:enabled:hover{
    background-color: #a5bfda;
    color: #031220;
}

@media(min-width: 1000px){
    .box, .api_post{
        width: 30%;
    }
    .exp_box, .api_get{
        width: 60%;
    }
}

@media(max-width: 999px){
    .box, .exp_box, .api_post, .api_get{
        width: 80%;
    }
    body{
        justify-content: center;
    }
    .input_placeholder{ 
        font-size: 16px;
        width: 80%;
    }
}

@media(max-width: 499px){

    h1{ font-size: 22px; }
    h2{ font-size: 18px; }
    body{
        font-size: 14px;
        justify-content: center;
    }
    .input_placeholder{ 
        font-size: 16px;
        width: 100%;
    }
}

.gg{
    color: #031220;
}
